<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fontawesome.com/icons/book-open?s=light&f=classic">
    <link rel="stylesheet" href="/css/lesson.css">
    <title>LESSON PAGE</title>
</head>

<body>
    <div class="container-boss">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/RIKKEI_ACADEMY_LOGO.e997e6f7.png" alt="Logo" width="200" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="aria-course">
                <li class="navbar-list">
                    <a href="http://127.0.0.1:3000/">Trang chủ</a>
                    </li>
                <li class="navbar-list">
                    <a href="http://127.0.0.1:3000/course">Khoá học</a>
                    </li>
                <li class="navbar-list">
                    <a href="http://127.0.0.1:3000/lesson">Lộ trình</a>
                    </li>
            </ul>
        </div>
        <div class="firt-content">
            <% for(let i = 0; i < data.length; ) %> 
            <div class="upload" id="upload">
                <ul class="video-list">
                    <li><video class="video"  autoplay>
                        <source src="<%=  %> " type="">
                        <!-- <source src="https://player.vimeo.com/progressive_redirect/playback/723688128/rendition/540p/file.mp4?loc=external&oauth2_token_id=57447761&signature=fc6c75b0da793efb1a97c087aee465ac7d9d83604d41f7b1e9348c13d487906c" type="video/mp4"> -->
                        <!-- <source src="movie.ogg" type="video/ogg"> -->
                      Your browser does not support the video tag.
                      </video></li>
                </ul>

            </div>
            <div class="session-list">
                <ul class="session-item">
                    <div class="sesion-name"><span class="list-children">Session 1</span> 
                        <ul class="items-list off">
                            <li class="item-content">bài đọc 1</li>
                            <li class="item-content">bài đọc 2</li>
                            <li class="item-content">bài đọc 3</li>
                            <li class="item-content">bài đọc 4</li>
                        </ul>
                    </div>
                </ul>
                <ul class="session-item">
                    <div class="sesion-name"><span class="list-children">Session 2</span> 
                        <ul class="items-list off">
                            <li class="item-content">bài đọc 1</li>
                            <li class="item-content">bài đọc 2</li>
                            <li class="item-content">bài đọc 3</li>
                            <li class="item-content">bài đọc 4</li>
                        </ul>
                    </div>
                </ul>
                <ul class="session-item" >
                    <div class="sesion-name"><span class="list-children">Session 3</span> 
                        <ul class="items-list off">
                            <li class="item-content">bài đọc 1</li>
                            <li class="item-content">bài đọc 2</li>
                            <li class="item-content">bài đọc 3</li>
                            <li class="item-content">bài đọc 4</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="content-body">
            fsasgdahjsdaksbkas
        </div>
    </div>
    </div>

    <script src="/js/lesson.js"></script>
</body>

</html>