<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fontawesome.com/icons/book-open?s=light&f=classic">
    <link rel="stylesheet" href="../public/css/user.course.css">
    <title>USER COUSRE PAGE</title>
    <link rel="stylesheet" href="/css/user.course.css">
</head>

<body>
    <div class="container-boss">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/RIKKEI_ACADEMY_LOGO.e997e6f7.png" alt="Logo" width="200" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="aria-course">
                <li class="navbar-list">Trang chủ</li>
                <li class="navbar-list"> Khoá học</li>
                <li class="navbar-list">Lộ trình</li>
            </ul>
        </div>
        <div class="container-content">
            <div class="firt-content">
                <ul class="list-header">
                    
                </ul>
                <h1>Tên khoá học</h1>
                <p>Tên khoá học</p>
                <div class="basic-level">Cơ Bản</div>
                <div class="teacher">
                    <div class="teacher-icon"><img  src="/images/756b570634e7f9280574cfadda765e4c.jpeg" alt=""></div>
                    <p>Mr.cuong</p>
                </div>
            </div>
            <div class="content-body">
                <ul class="body-list">
                    <li class="list-item"><a href="http://127.0.0.1:5500/views/course.html"> Mô tả </a> </li>
                    <li class="list-item"> <a href="http://127.0.0.1:5500/views/course.html"> Bạn sẽ học</a></li>
                    <li class="list-item"> <a href="http://127.0.0.1:5500/views/course.html">Nội dung</a></li>
                    <li class="list-item"><a href="http://127.0.0.1:5500/views/course.html"> Yêu cầu</a></li>
                    <li class="list-item"> <a href="http://127.0.0.1:5500/views/course.html">Giảng viên</a></li>
                </ul>

                
                <div class="remore">
                    <h4>Mô tả</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="remore">
                    <h4>Bạn sẽ học</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="remore">
                    <h4>Yêu cầu</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <div class="remore">
                    <h4>Nội dung</h4>
                    <div class="session-list">
                        <ul class="session-item" >
                            <div class="sesion-name"><span class="list-children">Session 1</span> 
                                <ul class="items-list off">
                                    <li class="item-content">bài đọc 1</li>
                                    <li class="item-content">bài đọc 2</li>
                                    <li class="item-content">bài đọc 3</li>
                                    <li class="item-content">bài đọc 4</li>
                                </ul>
                            </div>
                        </ul>
                        <ul class="session-item" >
                            <div class="sesion-name"><span class="list-children">Session 2</span> 
                                <ul class="items-list off">
                                    <li class="item-content">bài đọc 1</li>
                                    <li class="item-content">bài đọc 2</li>
                                    <li class="item-content">bài đọc 3</li>
                                    <li class="item-content">bài đọc 4</li>
                                </ul>
                            </div>
                        </ul>
                        <ul class="session-item" >
                            <div class="sesion-name"><span class="list-children">Session 3</span> 
                                <ul class="items-list off">
                                    <li class="item-content">bài đọc 1</li>
                                    <li class="item-content">bài đọc 2</li>
                                    <li class="item-content">bài đọc 3</li>
                                    <li class="item-content">bài đọc 4</li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="teacher-cousre">
                    <div class="teacher-list">
                        <h3>Giảng Viên</h3>
                        <div class="remore-teacher">
                            <div class="icon"><img style="width: 300px;" src="/images/175412858_3169308326688853_7349774879548598041_n.jpeg" alt=""></div>
                            <div class="title-teacher">
                                <h4>Mr.Cường teacher</h4>
                                <p>Chuyên môn(làm gì có chuyên môn)</p>
                                <div class="sum-cousre">5 Khoá học</div>
                            </div>
                        </div>
                        <!-- <p class="name-cousre">tên khoá học</p> -->
                    </div>
                    <div class="teacher-list">
                        <h3>Giảng Viên</h3>
                        <div class="remore-teacher">
                            <div class="icon"><img style="width: 300px;" src="/images/175412858_3169308326688853_7349774879548598041_n.jpeg" alt=""></div>
                            <div class="title-teacher">
                                <h4>Mr.Cường teacher</h4>
                                <p>Chuyên môn</p>
                                <div class="sum-cousre">5 Khoá học</div>
                            </div>
                        </div>
                        <!-- <p class="name-cousre">tên khoá học</p> -->
                    </div>
                    <div class="teacher-list">
                        <h3>Giảng Viên</h3>
                        <div class="remore-teacher">
                            <div class="icon"><img style="width: 300px;" src="/images/175412858_3169308326688853_7349774879548598041_n.jpeg" alt=""></div>
                            <div class="title-teacher">
                                <h4>Mr.Cường teacher</h4>
                                <p>Chuyên môn</p>
                                <div class="sum-cousre">5 Khoá học</div>
                            </div>
                        </div>
                        <!-- <p class="name-cousre">tên khoá học</p> -->
                    </div>
                </div>


            </div>

            <div class="course-area">
                <div class="img">
                    <img src="/images/z3863463274514_ca852df24f9907b27ddf2e86a481c65b.jpg" alt="photo">
                </div>
                <a href="http://127.0.0.1:3000/lesson">
                    <div class="btn" type="button">
                        <button class="btn-start"> Tham gia ngay</button>
                    </div>
                </a>
                <div class="aria-title">
                    <div class="list-icons"><i class="fa-light fa-book-open"></i></div>
                    <div class="list-content">
                        <p class="left">Bài học</p>
                        <p class="right">19</p>
                    </div>
                </div>
                <div class="aria-title">
                    <div class="list-icons"><i class="fa-light fa-book-open"></i></div>
                    <div class="list-content">
                        <p class="left">Bài kiểm tra</p>
                        <p class="right">0</p>
                    </div>
                </div>
                <div class="aria-title">
                    <div class="list-icons"><i class="fa-light fa-book-open"></i></div>
                    <div class="list-content">
                        <p class="left">Thời lượng</p>
                        <p class="right">192 giờ</p>
                    </div>
                </div>
                <div class="aria-title">
                    <div class="list-icons"><i class="fa-light fa-book-open"></i></div>
                    <div class="list-content">
                        <p class="left">Cấp độ</p>
                        <p class="right">Cơ bản</p>
                    </div>
                </div>
                <div class="aria-title">
                    <div class="list-icons"><i class="fa-light fa-book-open"></i></div>
                    <div class="list-content">
                        <p class="left">Chứng nhận</p>
                        <p class="right">Có</p>
                    </div>
                </div>

            </div>

        </div>

        <script src="/js/user.cousre.js"></script>
</body>

</html>