*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    display: flex;
    background-color: rgb(202, 239, 227);
    position:fixed;
    width: 100%;
    z-index: 99;
}
.navbar-brand{
    padding: 10px 50px 10px 50px;
}
.navbar-list{
    padding: 20px 20px 10px 10px;
    font-size: 30px;
    list-style: none;
}

.container-content{
    padding-top: 3%;
}
.container-content::-webkit-scrollbar{
    width: 10px;
}
.upload{
    margin-top: 2%;
    width: 60%;
    height: 400px;
    background-color: bisque;
    margin-bottom: 3%;
}
.video{
    width: 860px;
    height: 400px;
}
.firt-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(217, 69, 69);
    text-align: left;
    /* padding-left: 10%; */
    position: relative;
    padding-top: 10%;
}
.aria-course{
    display: flex;  
}
.session-list{
    height: 400px;
    width: 35%;
    border: 1px solid grey;
    background-color: rgb(237, 228, 217);
    padding: 0% 1% 1% 1%;
    margin-bottom: 2%;
    margin-top: 2%;
    overflow: scroll;
}
.sesion-name{
    border: 1px solid grey;
    font-size: 20px;
    padding: 3%;
    border-radius: 5px;
    margin-top: 1.5%;
}
.item-content{
    color: brown;
    padding: 3%;
    border: 1px solid grey;
    list-style: none;
    border-radius: 5px;
}
.off{
    display: none;
}

.navbar-list a{
    text-decoration: none;
}